
.header-menu ul li {
    list-style: none;
    display: inline-block;
}

.header-menu ul li a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    margin-left: 10px;
}

.header-logo {
    float: left;
    width: 30%;
}

.header-menu {
    display: inline-block;
    width: 30%;
    text-align: right;
}

.header-button {
    display: inline-block;
    width: 30%;
}

.header-button a {
    display: inline-block;
    text-decoration: none;
    color: black;
    background: #ddd;
    margin-left: 30px;
    padding: 10px;
    border-radius: 5px;
}

.header-button a span {
    color: red;
    font-size: 20px;
    position: relative;
    top: 3px;
    padding: 0 10px;
}

.header-area {
    margin: 0 150px;
    padding: 10px 0;
}


/* hero-section */
.hero-section {
    background: #FBF7FD;
    margin: 0 150px;
    padding: 0 40px;
}

.hero-section-images img {
    width: 50%;
}

.hero-section-content {
    display: inline-block;
    width: 50%;
}

.hero-section-images {
    display: inline-block;
    width: 49%;
}

.hero-play-detalis ul li {
    list-style: none;
    padding: 10px 0;
}

.hero-play-detalis ul li i {
    color: red;
}

.hero-section-content h1 {
    color: #BF50D3;
    font-size: 30px;
    font-weight: 600;
}

.hero-button {
    display: flex;
}
.hero-main-btn a {
    display: inline-block;
    background: #FF70BB;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-right: 20px;
}
.hero-right-btn a {
    display: inline-block;
    text-decoration: none;
    background: #4EC5F7;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

/* gamer-section */
.gamer-section {
    margin: 0 150px;
    background: #fff4fc;
}
.gamer-image img {
    width: 72%;
}

.gamer-image {
    display: inline-block;
    width: 50%;
    text-align: center;
}
.gamer-content {
    width: 49%;
    display: inline-block;
    text-align: right;
}

.gamer-button a {
    display: inline-block;
    background: #FF70BB;
    padding: 10px 30px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

    .gamer-content h3{
    color: #BF50D3;
    font-size: 30px;
    font-weight: 600;
    }

    .funny-video-title {
        text-align: center;
    }
    .funny-video-des p {
        text-align: center;
    }


    .funny-image {
        display: flex;
        margin: 0 150px;
        gap: 10px;
    }
    .funny-img1 img {
        width: 100%;
        display: inline-block;
    }
    .funny-img2 img {
        width: 100%;
        display: inline-block;
    }
    .funny-img3 img {
        width: 100%;
        display: inline-block;
    }
    .funny-img4 img {
        width: 100%;
        display: inline-block;
    }

    .funny-video-title span {
        color: orange;
        padding-left: 10px;
    }

    .play-install {
        margin: 0 150px;
    }
    .play-install-text {
        display: inline-block;
        width: 40%;
    }
    .play-install-img {
        display: inline-block;
        width: 55%;
    }
    .play-install-img img {
        width: 56%;
    }

    img.play-thumb {
        width: 30%;
        position: relative;
        left: -365px;
        top: 90px;
    }
    .play-install-text h2 {
        color: orange;
        font-size: 30px;
        font-weight: 700;
    }
    h2.download {
        color: black;
        margin: 0;
        font-weight: 800;
        text-transform: capitalize;
    }

    .brand-box {
        margin: 0 150px;
        display: flex;
        gap: 150px;
        padding-top: 100px;
        text-align: center;
    }
    .brand-box-two {
        margin: 0 204px;
        display: flex;
        gap: 180px;
        text-align: center;
    }

    .footer-section {
        background: black;
        height: 400px;
        padding-top: 100px;
    }
    .footer-logo {
        text-align: center;
    }
    .footer-title ul li {
        list-style: none;
        display: inline-block;
        padding-left: 20px;
        /* text-align: center; */
    }
    .footer-title {
        text-align: center;
        color: white;
    }
    .footer-icon ul li {
        list-style: none;
        display: inline-block;
        padding-left: 20px;
    }
    .footer-logo span {
        color: white;
    }
    .footer-icon {
        text-align: center;
        color: white;
    }
    .footer-description {
        color: white;
        text-align: center;
    }
    .footer-description ul li {
        list-style: none;
        display: inline-block;
        padding-left: 20px;
    }
    .footer-bottom h6 {
        color: white;
        text-align: center;
        font-size: 16px;
    }