.banner-section {
    background-color: #FCEEF1;
    display: flex;
    height: 500px;
    padding-top: 100px;
}

.banner-content h1 {
    margin-left: 150px;
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
}

.banner-description p {
    font-size: 17px;
    font-weight: 400;
    margin-left: 150px;
    width: 62%;
    padding: 22px 0;
}

.banner-button a {
    display: inline-block;
    margin-left: 150px;
    text-decoration: none;
    color: #fff;
    background: #E55473;
    padding: 10px 20px;
    border-radius: 6px;
}

.banner-img {
    margin-right: 200px;
}

/* .our-featured */

.our-featured {
    text-align: center;
    padding-top: 100px;
}

.featured-title h1 {
    margin: 0;
}

.sale-up-section {
    display: flex;
    background: #FEF6F8;
}

.sale-up-content {
    margin-left: 150px;
}

.sale-up-images {
    margin-right: 150px;
}

.sale-up-button a {
    display: inline-block;
    margin-left: 70px;
    text-decoration: none;
    color: #fff;
    background: #E55473;
    padding: 10px 20px;
    border-radius: 6px;
}